.NavbarContainer {
    box-sizing: border-box;
  } 

.NavbarContainer {
    position: sticky;
    background-color: white;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1000;
}

.logo {
    padding: 8px;
}

.logo img {
    top: 10px;
    width: 125px;
}

.navlinks {
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    color: orangered;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
} 

.navlinks:hover {
    color: red;
    border-bottom: 3px solid red;
}

.navlinks img {
    width: 23px;
    color: green;
}

#dd {
    fill: rgb(243, 16, 16);
}

.DashboardPortal {
    padding-top: 50px;
    padding-right: 30px;
}
.btn-btn{
    width: 90px;
    padding: 5px;
    word-spacing: normal;
    background-color: blueviolet;
}
@media only screen and (max-width:600px) {  
    .NavbarContainer {       
        width: 100% !important;
        min-width: 0 !important;
        max-width: none !important;
        overflow-x: hidden;     
    }        
    .navlinks {
        display:none; 
           
    }    
    .logo {
        display:flex;
        /* padding-left:500px; for 768px*/
        padding-left: 400px;
        align-items:right;     
        justify-content:right;        
        width: 100% !important;
        min-width: 0 !important;
        max-width: none !important;
        overflow-x: hidden;     
        } 
         img {
            font-size: 10px;
        } 
        .btn-btn{
          display:none
        }  
}

